*{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Poppins";
    box-sizing: border-box;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

:root{
     --bg-color: #080808;
     --secong-bgcolor: #001005;
     --text-color: white;
     --main-color: #00ff51;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 12%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    transform: rotate(-5deg);
}

.logo:hover{
    transform: scale(1.4) rotate(0deg);
}
span{
    color: var(--main-color);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.5s ease;
}

.navbar a:hover{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color)
}

section{
    min-height: 100vh;
    padding: 10rem 12%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.home-content .h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content .h3{
    font-size: 4rem;
    margin: 1rem 0;
}

.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.7;
}

.home-image img{
    width: 32vm;
}